.a-tt-none {
    text-transform: none;
}

.inicio2 {
    padding-top: 10%;
}

.logo-google {
    width: 20px;
    margin-top: 40%;
}

.logo-fisi {
    width: 20px;
    height: 20px;
    margin-top: 7px;
}

